<!-- sources.html -->
<div class="container">
	<div class="main-sidebar padding-right">
		<ul class="nav nav-pills nav-stacked sources-list">
			<li role="presentation" ng-repeat="source in sources" ng-class="{active: source.active}"><a ng-click="changeSource(source)">{{source.name}}</a></li>
		</ul>
	</div>
	<div class="main-content">
		<div ng-if="message" class="alert alert-info">
			{{ message }}
		</div>
		<div ng-if="source == 'last.fm'">

			<h2>Last.fm Username</h2>
			<input ng-model="settings.lfmUsername" type="text" class="form-control" />
			
			<h2>Api Token</h2>
			<input ng-model="settings.apiKey" type="text" class="form-control" />
			<br />

			<button class="btn btn-primary" ng-click="saveLastFm()">Save</button>
			<button class="btn btn-primary" ng-click="importLastFm()">Import Now!</button>
		</div>
		<div ng-if="source == 'click'">

			<h2>Click message</h2>
			<div class="radio">
				<label>
					<input type="radio" ng-model="settings.clickType" name="clickConfig" id="optionsRadios1" value="random" checked>
					Random string
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" ng-model="settings.clickType" name="clickConfig" id="optionsRadios2" value="custom">
					Custom message
				</label>
				<input type="text" ng-model="settings.customMessage" class="form-control" />
			</div>
			<div class="radio">
				<label>
					<input type="radio" ng-model="settings.clickType" name="clickConfig" id="optionsRadios3" value="none">
					No message
				</label>
			</div>

			<button class="btn btn-primary" ng-click="saveClick()">Save</button>

		</div>
	</div>
</div>